{% extends "notes/base.html" %}




{% block content %}
<!--Section: Cards-->
<section class="text-center">
    <style>
        .myfileshadow {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
    </style>
    <div class="card p-3 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-8 text-left col-sm-8 col-xs-7">
                    <h1>{{ filepost.title }} </h1>
                </div>
                <div class="col-xl-4 col-md-4  col-sm-4 text-right col-xs-5">
                    <p> {{ filepost.subject }} | <a
                            href="{% url 'branch_material' filepost.stream %}">{{ filepost.stream }}</a> |
                        <a href="{% url 'semester_material' filepost.semester %}">Sem
                            {{ filepost.semester}}</a> </p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12 col-lg-12">
                    <p style="text-align: left;">{{ filepost.description }}</p>
                    
                </div>
                <div class="row ml-auto">
                    <div class="col-md-12 col-xs-12">
                        <a download class="mb-2 mr-1" style="float:right " href="#"><i
                                style="background: #00c853; border-radius:50% ; color:white; padding:8px; "
                                class="success fas fa-download" "></i></a>
                        <a class=" mb-2 mr-1" style="float:right "><i
                                    style="background:#2962ff; border-radius:50% ; color:white; padding:8px; "
                                    class="success fas fa-share" "></i></a>
                        {% if object.author == user %}
                            <a class=" mb-2 mr-1" style="float:right " href="{% url 'material_update' object.id %}"><i
                                        style="background:#6200ea; border-radius:50% ; color:white; padding:8px; "
                                        class="fas fa-pen"></i>
                        </a>

                        <a class=" mb-2 mr-1" style="float:right " href="{% url 'material_delete' object.id %}"><i
                                style="background:#ff1744; border-radius:50% ; color:white; padding:8px; "
                                class="fas fa-trash"></i>
                        </a>

                        {% endif %}

                    </div>
            </div>

        </div>
    </div>

    <br>
    <!--Grid row-->

    <div class="card p-3 pt-5">
        <div class="row mb-4 wow fadeIn">
            <!--Grid column-->
            {% if filepost.file0  %}
            <!--Card-->
            <div class="col-lg-3 col-md-4 col-xs-5 mb-4">
                <a download href="{{filepost.file0.url}}">
                    <figure class="figure ">
                        <div class="image_carousel">
                            <div class="view overlay zoom">
                                <img src="http://icons.iconarchive.com/icons/zhoolego/material/512/Filetype-Docs-icon.png"
                                    class="figure-img thumbnail " style="height: 200px"
                                    alt=" {{filepost.file0.url|cut:"/media/filepost/"}}">

                            </div>
                            <figcaption style="font-weight:900;" class="figure-caption">
                                <b>{{filepost.file0.url|cut:"/media/filepost/"}}</b></figcaption>
                    </figure>
                </a>
            </div>

            {% endif %}

            {% if filepost.file1 %}
            <!--Card-->
            <div class="col-lg-3 col-md-4 col-xs-5 mb-4">
                <a download href="{{filepost.file1.url}}">
                    <figure class="figure ">
                        <div class="image_carousel">
                            <div class="view overlay zoom">
                                <img src="http://icons.iconarchive.com/icons/zhoolego/material/512/Filetype-Docs-icon.png"
                                    class="figure-img thumbnail " style="height: 200px"
                                    alt=" {{filepost.file1.url|cut:"/media/filepost/"}}">

                            </div>
                            <figcaption style="font-weight:900;" class="figure-caption">
                                <b>{{filepost.file1.url|cut:"/media/filepost/"}}</b></figcaption>
                    </figure>
                </a>
            </div>

            {% endif %}


            {% if filepost.file2  %}
            <!--Card-->
            <div class="col-lg-3 col-md-4 col-xs-5 mb-4">
                <a download href="{{filepost.file2.url}}">
                    <figure class="figure ">
                        <div class="image_carousel">
                            <div class="view overlay zoom">
                                <img src="http://icons.iconarchive.com/icons/zhoolego/material/512/Filetype-Docs-icon.png"
                                    class="figure-img thumbnail " style="height: 200px"
                                    alt=" {{filepost.file2.url|cut:"/media/filepost/"}}">

                            </div>
                            <figcaption style="font-weight:900;" class="figure-caption">
                                <b>{{filepost.file2.url|cut:"/media/filepost/"}}</b></figcaption>
                    </figure>
                </a>
            </div>

            {% endif %}


            {% if filepost.file3  %}
            <!--Card-->
            <div class="col-lg-3 col-md-4 col-xs-5 mb-4">
                <a download href="{{filepost.file3.url}}">
                    <figure class="figure ">
                        <div class="image_carousel">
                            <div class="view overlay zoom">
                                <img src="http://icons.iconarchive.com/icons/zhoolego/material/512/Filetype-Docs-icon.png"
                                    class="figure-img thumbnail " style="height: 200px"
                                    alt=" {{filepost.file3.url|cut:"/media/filepost/"}}">

                            </div>
                            <figcaption style="font-weight:900;" class="figure-caption">
                                <b>{{filepost.file3.url|cut:"/media/filepost/"}}</b></figcaption>
                    </figure>
                </a>
            </div>

            {% endif %}


            {% if filepost.file4 %}
            <!--Card-->
            <div class="col-lg-3 col-md-4 col-xs-5 mb-4">
                <a download href="{{filepost.file4.url}}">
                    <figure class="figure ">
                        <div class="image_carousel">
                            <div class="view overlay zoom">
                                <img src="http://icons.iconarchive.com/icons/zhoolego/material/512/Filetype-Docs-icon.png"
                                    class="figure-img thumbnail " style="height: 200px"
                                    alt=" {{filepost.file4.url|cut:"/media/filepost/"}}">

                            </div>
                            <figcaption style="font-weight:900;" class="figure-caption">
                                <b>{{filepost.file4.url|cut:"/media/filepost/"}}</b></figcaption>
                    </figure>
                </a>
            </div>

            {% endif %}


            {% if filepost.file5 %}
            <!--Card-->
            <div class="col-lg-3 col-md-4 col-xs-5 mb-4">
                <a download href="{{filepost.file5.url}}">
                    <figure class="figure ">
                        <div class="image_carousel">
                            <div class="view overlay zoom">
                                <img src="http://icons.iconarchive.com/icons/zhoolego/material/512/Filetype-Docs-icon.png"
                                    class="figure-img thumbnail " style="height: 200px"
                                    alt=" {{filepost.file5.url|cut:"/media/filepost/"}}">

                            </div>
                            <figcaption style="font-weight:900;" class="figure-caption">
                                <b>{{filepost.file5.url|cut:"/media/filepost/"}}</b></figcaption>
                    </figure>
                </a>
            </div>

            {% endif %}


            {% if filepost.file6  %}
            <!--Card-->
            <div class="col-lg-3 col-md-4 col-xs-5 mb-4">
                <a download href="{{filepost.file6.url}}">
                    <figure class="figure ">
                        <div class="image_carousel">
                            <div class="view overlay zoom">
                                <img src="http://icons.iconarchive.com/icons/zhoolego/material/512/Filetype-Docs-icon.png"
                                    class="figure-img thumbnail " style="height: 200px"
                                    alt=" {{filepost.file6.url|cut:"/media/filepost/"}}">

                            </div>
                            <figcaption style="font-weight:900;" class="figure-caption">
                                <b>{{filepost.file6.url|cut:"/media/filepost/"}}</b></figcaption>
                    </figure>
                </a>
            </div>

            {% endif %}







        </div>
    </div>

</section>
<!--Section: Cards-->
{% endblock %}