{% extends "notes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="card ml-auto mr-auto " style="max-width:430px;">
<!-- Default form login -->
<form class="text-center border border-light p-5" method="POST">
     {% csrf_token %}
    <p class="h4 mb-4">Log in</p>

    {{form|crispy}}

    <div class="d-flex justify-content-around">
            <div>
                <!-- Forgot password -->
                <a href="{% url 'password_reset'  %}">Forgot password?</a>
            </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Log in</button>

    <!-- Register -->
    <p>Not a member?
        <a href="{%url 'register'%}">Sign Up</a>
    </p>

</form>
<!-- Default form login -->

</div>



{% endblock content %}