{% extends "notes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br><br>
<div class="card ml-auto mr-auto mt-4 mb-4" style="max-width:430px;">
    <!-- Default form login -->
    <form class="text-center border border-light p-5" method="POST">
        {% csrf_token %}
        <p class="h4 mb-4">Reset Password</p>

        {{form|crispy}}


        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Request Password</button>



    </form>
    <!-- Default form login -->

</div>
<br><br><br>


{% endblock content %}